{"openapi":"3.0.3","info":{"title":"BugSnag - Data Access API","description":"Allows you to access information about your BugSnag errors, projects, organization and more to build custom integrations using your data.\n","contact":{"name":"BugSnag Support","email":"bugsnag-support@smartbear.com"},"version":"2"},"servers":[{"url":"https://api.bugsnag.com","description":"For organizations with projects on app.bugsnag.com"},{"url":"https://api.bugsnag.smartbear.com","description":"For organizations with projects on app.bugsnag.smartbear.com"},{"url":"https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2","description":"SwaggerHub API Auto Mocking"}],"security":[{"tokenAuth":[]}],"tags":[{"name":"Errors"},{"name":"Projects"},{"name":"Organizations"},{"name":"Current User","description":"These endpoints are designed to act on the settings of the currently authenticated user. This User will be referred to as the Current User throughout this documentation."},{"name":"Integrations"},{"name":"SCIM"}],"paths":{"/user/organizations":{"get":{"tags":["Current User"],"summary":"List the Current User's Organizations","operationId":"listUserOrganizations","parameters":[{"name":"admin","in":"query","description":"`true` if only Organizations the Current User is an admin of should be returned","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}},{"name":"per_page","in":"query","description":"Number of results per page","required":false,"style":"form","explode":true,"schema":{"type":"number","default":30},"example":10}],"responses":{"200":{"description":"","headers":{"Link":{"style":"simple","explode":false,"schema":{"type":"string","example":"<https://api.bugsnag.com/user/organizations?direction=desc&offset=590bce131f7314d98eac23ba&per_page=30&sort=created_at>; rel=\"next\""}},"X-Total-Count":{"style":"simple","explode":false,"schema":{"type":"integer","example":34}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrganizationApiView"}}}}},"404":{"description":"Request was made without User authorization. All requests about a User should be authorized as that User.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["User not found"]}}}}}}},"/projects/{project_id}/saved_searches":{"get":{"tags":["Current User"],"summary":"List Saved Searches on a Project","description":"Returns the saved searches for a given project sorted by name in lexicographic order.\n","operationId":"listProjectSavedSearches","parameters":[{"name":"project_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000003"},{"name":"shared","in":"query","description":"Limit Saved Searches returned to only those with this `shared` property","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"true"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SavedSearch"}}}}},"403":{"description":"The organization does not have the performance-comparisons feature enabled.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization requires the performance-comparisons feature"]}}}}}}},"/saved_searches":{"post":{"tags":["Current User"],"summary":"Create a Saved Search","operationId":"createSavedSearch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavedSearchCreateRequest"}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavedSearch"}}}},"403":{"description":"The organization does not have the performance-comparisons feature enabled.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization requires the performance-comparisons feature"]}}}}}}},"/saved_searches/{id}":{"get":{"tags":["Current User"],"summary":"Get a Saved Search","operationId":"getSavedSearchById","parameters":[{"name":"id","in":"path","description":"The ID of the saved search","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavedSearch"}}}},"400":{"description":"The supplied ID was malformed.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Bad request"]}}}},"403":{"description":"The organization does not have the relevant feature.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"examples":{"insufficientOrganizationFeature":{"value":{"errors":["Account requires the performance-comparisons feature"]}}}}}},"404":{"description":"The saved search was not found.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Saved Search not found"]}}}}}},"delete":{"tags":["Current User"],"summary":"Delete a Saved Search","operationId":"deleteSavedSearchById","parameters":[{"name":"id","in":"path","description":"The ID of the saved search","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"403":{"description":"The organization does not have the relevant feature.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"examples":{"insufficientOrganizationFeature":{"value":{"errors":["Account requires the performance-comparisons feature"]}}}}}},"404":{"description":"The saved search was not found.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Saved Search not found"]}}}}}},"patch":{"tags":["Current User"],"summary":"Update a Saved Search","operationId":"updateSavedSearchById","parameters":[{"name":"id","in":"path","description":"The ID of the saved search","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavedSearchUpdateRequest"}}}},"responses":{"201":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavedSearch"}}}},"403":{"description":"The organization does not have the relevant feature.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"examples":{"insufficientOrganizationFeature":{"value":{"errors":["Account requires the performance-comparisons feature"]}}}}}},"404":{"description":"The saved search was not found.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Saved Search not found"]}}}}}}},"/saved_searches/{id}/usage_summary":{"get":{"tags":["Current User"],"summary":"Get the Usage Summary for a Saved Search","description":"Returns a short usage summary for a saved search.\n","operationId":"getSavedSearchUsageSummary","parameters":[{"name":"id","in":"path","description":"the ID of the saved search to get a summary for","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000003"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavedSearchUsageSummary"}}}},"400":{"description":"The request was bad. This is returned when supplied malformed ids.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Bad request"]}}}},"403":{"description":"The organization does not have the performance-comparisons feature enabled.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization requires the performance-comparisons feature"]}}}},"404":{"description":"The saved search was not found.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Saved Search not found"]}}}}}}},"/organizations/{organization_id}/projects":{"get":{"tags":["Current User","Projects"],"summary":"List an Organization's Projects","description":"Returns a list of projects for the given organization.\n","operationId":"getOrganizationProjects","parameters":[{"name":"organization_id","in":"path","description":"the ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"q","in":"query","description":"Search projects with names matching parameter","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"MyProject"},{"name":"sort","in":"query","description":"Which field to sort the results by","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"created_at","enum":["created_at","name","favorite"]}},{"name":"direction","in":"query","description":"Which direction to sort the results by. Defaults to `desc` for all sorts except `favorite`. Defaults to `asc` if sorting by `favorite` (cannot sort `favorite`s `desc`).","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"desc","enum":["asc","desc"]}},{"name":"per_page","in":"query","description":"How many results to return per page","required":false,"style":"form","explode":true,"schema":{"type":"number","default":30}}],"responses":{"200":{"description":"Successful response","headers":{"Link":{"style":"simple","explode":false,"schema":{"type":"string","example":"<https://api.bugsnag.com/organizations/515fb9337c1074f6fd000001/projects?offset=517c41f07c1074aee9000002>; rel=\"next\""}},"X-Total-Count":{"style":"simple","explode":false,"schema":{"type":"integer","example":123}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProjectApiView"}}}}},"400":{"description":"Favorites only support ascending sort.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["favorites cannot be sorted descending"]}}}}},"404":{"description":"- An organization with the ID you provided could not be found.\n- Organization not be found, or you do not have access. Check the supplied `organization_id`.\n","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Organization not found","Organization not be found, or you do not have access. Check the supplied `organization_id`."]}}}}}}},"post":{"tags":["Projects"],"summary":"Create a Project in an Organization","operationId":"createOrganizationProject","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000007"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectApiView"}}}},"400":{"description":"Request validation error. See `errors` for specific details.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","example":["Authentication required"],"items":{"type":"string"}}}}}}},"404":{"$ref":"#/components/responses/organization_not_found"}}}},"/projects/{project_id}/errors":{"get":{"tags":["Errors"],"summary":"List the Errors on a Project","description":"Get a list of the errors on a project. If you require a feed of all new errors as they are reported consider setting up a webhook integration instead.","operationId":"listProjectErrors","parameters":[{"name":"project_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000003"},{"name":"base","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"date-time"},"example":"2017-04-12T22:50:04Z"},{"name":"sort","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"last_seen","enum":["last_seen","first_seen","users","events","unsorted"]}},{"name":"direction","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"desc","enum":["asc","desc"]}},{"name":"per_page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":30}},{"name":"filters","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/Filters"}},{"name":"histogram","in":"query","description":"The type of histogram to include in the response. Only specific values are accepted. When provided, adds trend data to each error in the response.","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["two_week","dynamic"]},"example":"two_week"}],"responses":{"200":{"description":"","headers":{"Link":{"style":"simple","explode":false,"schema":{"type":"string"},"example":"<https://api.bugsnag.com/projects/515fb9337c1074f6fd000003/errors?offset=590bce131f7314d98eac23ba&sort=last_seen>; rel=\"next\""},"X-Total-Count":{"style":"simple","explode":false,"schema":{"type":"integer"},"example":123}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ErrorApiView"}}}}},"404":{"description":"Project could not be found. Check the supplied project_id.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Project not found"]}}}}},"422":{"description":"Unable to return complete results. See code 60000.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}},"code":{"type":"integer"}},"example":{"errors":["Unable to return complete results"],"code":60000}}}}}}},"delete":{"tags":["Errors"],"summary":"Delete all Errors in a Project","description":"Deletes all Error and Event data in a project. Use with caution. This action cannot be reversed.","operationId":"deleteAllErrorsInProject","parameters":[{"name":"project_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000003"}],"responses":{"204":{"description":"All errors deleted successfully."},"404":{"description":"Project could not be found. Check the supplied project_id.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Project not found"]}}}}}}},"patch":{"tags":["Errors"],"summary":"Bulk Update Errors","operationId":"bulkUpdateErrors","parameters":[{"name":"project_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000003"},{"name":"error_ids","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}},"example":["515fb9337c1074f6fd000001"]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Bulk operation result for errors.","content":{"application/json":{"schema":{"type":"object","properties":{"operation":{"type":"string","enum":["overridden_severity","assign","create_issue","link_issue","unlink_issue","open","snooze","fix","ignore","delete","discard"]},"515fb9337c1074f6fd000001":{"type":"object","properties":{"assigned_collaborator_id":{"type":"string"},"assigned_team_id":{"type":"string"},"linked_issues":{"type":"array","items":{"$ref":"#/components/schemas/ErrorCreatedIssue"}},"created_issue":{"$ref":"#/components/schemas/ErrorCreatedIssue"},"reopen_rules":{"$ref":"#/components/schemas/ErrorReopenRules"},"status":{"$ref":"#/components/schemas/ErrorStatus"},"discarded":{"type":"boolean"}}}}}}}},"404":{"description":"Project or User could not be found. Check the supplied project_id or assigned_collaborator_id.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Project not found","User not found"]}}}}}}}},"/projects/{project_id}/errors/{error_id}":{"get":{"tags":["Errors"],"summary":"View an Error","operationId":"viewErrorOnProject","parameters":[{"name":"project_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"337515fb9c1074f6fd000001"},{"name":"error_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"responses":{"200":{"description":"Error details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorApiView"}}}},"404":{"description":"Error could not be found. Check the supplied error_id.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Error not found"]}}}}}}},"delete":{"tags":["Errors"],"summary":"Delete an Error","operationId":"deleteErrorOnProject","parameters":[{"name":"project_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"337515fb9c1074f6fd000001"},{"name":"error_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000003"}],"responses":{"204":{"description":"Error deleted successfully."},"404":{"description":"Error could not be found. Check the supplied error_id.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Error not found"]}}}}}}},"patch":{"tags":["Errors"],"summary":"Update an Error","operationId":"updateErrorOnProject","parameters":[{"name":"project_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"337515fb9c1074f6fd000001"},{"name":"error_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Updated error details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorApiView"}}}},"204":{"description":"Returned upon a successful discard or delete operation."},"400":{"description":"Request validation error.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["base must be iso8601 format"]}}}}},"404":{"description":"Error or User could not be found. Check the supplied error_id or assigned_collaborator_id.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Error not found","User not found"]}}}}}}}},"/projects/{project_id}/events/{event_id}":{"get":{"tags":["Errors"],"summary":"View an Event","description":"Note that event objects can include custom metadata and diagnostic fields configured directly in your app or added by the notifier library. The API preserves the original casing and key format as received, so any casing, including both snake_case and camelCase, may be valid for some fields.","operationId":"viewEventById","parameters":[{"name":"project_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"337515fb9c1074f6fd000001"},{"name":"event_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000009"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventApiView"}}}},"404":{"description":"Event could not be found. Check the supplied `event_id`.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Event not found"]}}}}}}},"delete":{"tags":["Errors"],"summary":"Delete an Event","operationId":"deleteEventById","parameters":[{"name":"project_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"337515fb9c1074f6fd000001"},{"name":"event_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000009"}],"responses":{"204":{"description":""},"404":{"description":"Event could not be found. Check the supplied `event_id`.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Event not found"]}}}}}}}},"/projects/{project_id}/errors/{error_id}/events":{"get":{"tags":["Errors"],"summary":"List the Events on an Error","description":"Get a list of the events of an error. If you require a feed of all new events as they are reported consider setting up a webhook integration instead.","operationId":"listEventsOnError","parameters":[{"name":"project_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"337515fb9c1074f6fd000001"},{"name":"error_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"base","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"date-time"},"example":"2017-04-12T22:50:04Z"},{"name":"sort","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"timestamp","enum":["timestamp"]}},{"name":"direction","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"desc","enum":["asc","desc"]}},{"name":"per_page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"number","default":30}},{"name":"filters","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/Filters"}},{"name":"full_reports","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"A list of events on the error.","headers":{"Link":{"style":"simple","explode":false,"schema":{"type":"string","example":"<https://api.bugsnag.com/project/515fb9337c1074f6fd000003/errors/515fb9337c1074f6fd000001/events?offset=590bce131f7314d98eac23ba&sort=timestamp>; rel=\"next\""}},"X-Total-Count":{"style":"simple","explode":false,"schema":{"type":"integer","example":123}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ElasticSearchEventApiView"}}}}},"404":{"description":"Error could not be found. Check the supplied error_id.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Error not found"]}}}}}}}},"/errors/{error_id}/latest_event":{"get":{"tags":["Errors"],"summary":"View the latest Event on an Error","operationId":"viewLatestEventOnError","parameters":[{"name":"error_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"responses":{"200":{"description":"Latest event details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventApiView"}}}},"404":{"description":"Error could not be found. Check the supplied error_id.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Error not found"]}}}}}}}},"/projects/{project_id}/events":{"get":{"tags":["Errors"],"summary":"List the Events on a Project","operationId":"listEventsOnProject","parameters":[{"name":"project_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000003"},{"name":"base","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"date-time"},"example":"2017-04-12T22:50:04Z"},{"name":"sort","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"timestamp","enum":["timestamp"]}},{"name":"direction","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"desc","enum":["asc","desc"]}},{"name":"per_page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"number","default":30}},{"name":"filters","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/Filters"}},{"name":"full_reports","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"A list of events on the project.","headers":{"Link":{"style":"simple","explode":false,"schema":{"type":"string"},"example":"<https://api.bugsnag.com/projects/515fb9337c1074f6fd000003/events?offset=590bce131f7314d98eac23ba&sort=timestamp>; rel=\"next\""},"X-Total-Count":{"style":"simple","explode":false,"schema":{"type":"integer"},"example":123}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ElasticSearchEventApiView"}}}}},"404":{"description":"Error could not be found. Check the supplied error_id.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Error not found"]}}}}}}}},"/projects/{project_id}/errors/{error_id}/trends":{"get":{"tags":["Errors"],"summary":"List the Trends for an Error","description":"Counts for an Error in a given time range, suitable for drawing histograms. Will return a maximum of 50 buckets (when using `buckets_count`) or 2000 data points (when using `resolution`).\n","operationId":"getBucketedAndUnbucketedTrendsOnError","parameters":[{"name":"project_id","in":"path","description":"ID of the Project","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"error_id","in":"path","description":"ID of the error","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"filters","in":"query","description":"Search filters to restrict the events reported in the trend","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/Filters"}},{"name":"buckets_count","in":"query","description":"Number of buckets to group trend data into (max 50)","required":false,"style":"form","explode":true,"schema":{"type":"number"}},{"name":"resolution","in":"query","description":"The trend data will be grouped so that each bucket spans the given time period","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["1m","5m","30m","2h","12h"]}}],"responses":{"200":{"description":"Trend data for the error (bucketed or unbucketed).","content":{"application/json":{"schema":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/Trend1"},{"$ref":"#/components/schemas/Trend2"}]}}}}},"400":{"description":"- Returned when the number of data points required to respond to the request would exceed the maximum.\n","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Buckets count must be between 1 and 50","Too many data points requested. Please use a narrower time range or lower resolution."]}}}}}}},"/projects/{project_id}/trends":{"get":{"tags":["Errors"],"summary":"List the Trends for a Project","description":"Counts for a Project in a given time range, suitable for drawing histograms. Will return a maximum of 50 buckets (when using `buckets_count`) or 2000 data points (when using `resolution`).\n","operationId":"getBucketedAndUnbucketedTrendsOnProject","parameters":[{"name":"project_id","in":"path","description":"ID of the project","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"filters","in":"query","description":"Search filters to restrict the events reported in the trend","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/Filters"}},{"name":"buckets_count","in":"query","description":"Number of buckets to group trend data into (max 50)","required":false,"style":"form","explode":true,"schema":{"type":"number"}},{"name":"resolution","in":"query","description":"The trend data will be grouped so that each bucket spans the given time period","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["1m","5m","30m","2h","12h"]}}],"responses":{"200":{"description":"Trend data for the project (bucketed or unbucketed).","content":{"application/json":{"schema":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/Trend1"},{"$ref":"#/components/schemas/Trend2"}]}}}}},"400":{"description":"- Returned when the number of data points required to respond to the request would exceed the maximum.\n","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Buckets count must be between 1 and 50","Too many data points requested. Please use a narrower time range or lower resolution."]}}}}}}},"/projects/{project_id}/errors/{error_id}/pivots":{"get":{"tags":["Errors"],"summary":"List Pivots on an Error","operationId":"listPivotsOnAnError","parameters":[{"name":"project_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"337515fb9c1074f6fd000001"},{"name":"error_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"filters","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/Filters"}},{"name":"summary_size","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"number"},"example":10},{"name":"pivots","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"per_page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"number","default":30},"example":30}],"responses":{"200":{"description":"A list of pivots on the error.","headers":{"Link":{"style":"simple","explode":false,"schema":{"type":"string","example":"<https://api.bugsnag.com/projects/337515fb9c1074f6fd000001/errors/515fb9337c1074f6fd000001/pivots/?offset=2017-04-12T22:50:04Z>; rel=\"next\""}},"X-Total-Count":{"style":"simple","explode":false,"schema":{"type":"integer","example":123}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PivotApiView"}}}}},"400":{"description":"Request validation error. See `errors` for specific details.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["summary_size must be a number"]}}}},"404":{"description":"- Error could not be found. Check the supplied `error_id`.\n","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Error not found"]}}}}}}},"/projects/{project_id}/errors/{error_id}/pivots/{event_field_display_id}/values":{"get":{"tags":["Errors"],"summary":"List values of a Pivot on an Error","operationId":"getPivotValuesOnAnError","parameters":[{"name":"project_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"337515fb9c1074f6fd000001"},{"name":"error_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"event_field_display_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"app.release_stage"},{"name":"filters","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/Filters"}},{"name":"sort","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["unsorted"]},"example":"unsorted"},{"name":"base","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"date-time"},"example":"2017-04-12T22:50:04Z"},{"name":"per_page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"number","default":30},"example":30}],"responses":{"200":{"description":"A list of pivot values on the error.","headers":{"Link":{"style":"simple","explode":false,"schema":{"type":"string","example":"<https://api.bugsnag.com/projects/337515fb9c1074f6fd000001/errors/515fb9337c1074f6fd000001/pivots/release.stage/values?offset=2017-04-12T22:50:04Z>; rel=\"next\""}},"X-Total-Count":{"style":"simple","explode":false,"schema":{"type":"integer","example":123}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PivotValueApiView"}}}}},"404":{"description":"- Error could not be found. Check the supplied `error_id`.\n","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Error not found"]}}}},"422":{"description":"The number of sorted results that can be obtained from this endpoint is limited. By default, results are sorted by descending Event occurrences. If you receive this error, you may still obtain complete results by setting the \"sort\" parameter to \"unsorted\".\n","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}},"code":{"type":"integer"}}},"example":{"errors":["Unable to return complete results"],"code":60000}}}}}}},"/projects/{project_id}/pivots":{"get":{"tags":["Errors"],"summary":"List Pivots on a Project","operationId":"getPivotsOnAProject","parameters":[{"name":"project_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"filters","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/Filters"}},{"name":"summary_size","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"number"},"example":10},{"name":"pivots","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"A list of pivots on the project.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PivotApiView"}}}}},"400":{"description":"Request validation error. See `errors` for specific details.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["summary_size must be a number"]}}}},"404":{"description":"- Project could not be found. Check the supplied `project_id`.\n","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Project not found"]}}}}}}},"/projects/{project_id}/pivots/{event_field_display_id}/values":{"get":{"tags":["Errors"],"summary":"List values of a Pivot on a Project","operationId":"getPivotValuesOnAProject","parameters":[{"name":"project_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"event_field_display_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"app.release_stage"},{"name":"filters","in":"query","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/Filters"}},{"name":"sort","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["unsorted"]},"example":"unsorted"},{"name":"base","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"date-time"},"example":"2017-04-12T22:50:04Z"},{"name":"per_page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"number","default":30},"example":30}],"responses":{"200":{"description":"A list of pivot values on the project.","headers":{"Link":{"style":"simple","explode":false,"schema":{"type":"string","example":"<https://api.bugsnag.com/projects/515fb9337c1074f6fd000001/pivots/release.stage/values?offset=2017-04-12T22:50:04>; rel=\"next\""}},"X-Total-Count":{"style":"simple","explode":false,"schema":{"type":"integer","example":123}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PivotValueApiView"}}}}},"404":{"description":"- Project could not be found. Check the supplied `project_id`.\n","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Project not found"]}}}},"422":{"description":"The number of sorted results that can be obtained from this endpoint is limited. By default, results are sorted by descending Event occurrences. If you receive this error, you may still obtain complete results by setting the \"sort\" parameter to \"unsorted\".\n","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}},"code":{"type":"integer"}}},"example":{"errors":["Unable to return complete results"],"code":60000}}}}}}},"/integrations":{"get":{"tags":["Integrations"],"summary":"List the supported Integrations","description":"Get information about all the integrations supported and how they can be configured. This includes details of the fields needed to set them up.\n","operationId":"getIntegrations","responses":{"200":{"description":"List of supported integrations","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Integration"}}}}}}}},"/integrations/test":{"post":{"tags":["Integrations"],"summary":"Test an Integration","description":"Test an integration using the configuration parameters provided without saving it as a configured integration. For `issue-tracker` integrations this will created a test issue. For `team-notification`, `data-forwarding` and `on-call` notifications it will send a test alert/message. Use the [Configured Integrations](https://developer.smartbear.com/bugsnag/docs/bugsnag-data-access-api#/Integrations/configuredIntegrationTest) test endpoint for integrations which are already configured.","operationId":"integrationsTest","requestBody":{"content":{"application/json":{"schema":{"required":["configuration","key"],"type":"object","properties":{"key":{"type":"string","description":"The key of the integration service to test. The supported keys can be obtained from [/integrations](https://developer.smartbear.com/bugsnag/docs/bugsnag-data-access-api#/Integrations/getIntegrations)","example":"jira"},"configuration":{"$ref":"#/components/schemas/SampleIntegrationConfiguration"}}}}},"required":true},"responses":{"204":{"description":"The integration was successfully tested."},"400":{"description":"The test of the integration failed.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Invalid username or password"]}}}}}}}},"/configured_integrations/{id}":{"get":{"tags":["Integrations"],"summary":"Get a Configured Integration","description":"Get the full description of a configured integration.","operationId":"configuredIntegrations","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"625ab9337c1074f6fd004761"}],"responses":{"200":{"description":"Configured integration details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfiguredIntegration"}}}},"404":{"description":"The configured integration could not be found. Check the supplied id.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Integration not found"]}}}}}}},"delete":{"tags":["Integrations"],"summary":"Delete a Configured Integration","description":"Delete the configuration for an integration.","operationId":"configuredIntegrationsDelete","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"responses":{"204":{"description":"The configured integration was successfully deleted."},"403":{"$ref":"#/components/responses/insufficient_project_role"},"404":{"description":"Configured integration could not be found. Check the supplied id.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Integration not found"]}}}}}}},"patch":{"tags":["Integrations"],"summary":"Update a Configured Integration","description":"Update the configuration for an integration on a project.","operationId":"configuredIntegrationsUpdate","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfiguredIntegrationUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Integration updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfiguredIntegration"}}}},"400":{"description":"The integration could not be updated. Check the errors supplied in the response.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Invalid password"]}}}}},"403":{"$ref":"#/components/responses/insufficient_project_role"},"404":{"description":"Configured integration could not be found. Check the supplied id.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Integration not found"]}}}}}}}},"/configured_integrations/{id}/trigger_configs/{trigger_config_key}":{"patch":{"tags":["Integrations"],"summary":"Update a Configured Integration's Trigger Config","description":"Set a condition for automatic integration behavior.","operationId":"updateConfiguredIntegrationsTriggerConfig","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"trigger_config_key","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"project_spiking_config"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TriggerConfig"}}},"required":true},"responses":{"200":{"description":"Trigger config updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TriggerConfig"}}}},"400":{"description":"The request was bad. Check the errors supplied in the response.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["active must be one of true or false"]}}}}},"403":{"description":"- The account does not have the notifications advanced filtering feature enabled\n- Attempted to update a trigger config that requires a feature the account does not have.\n","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Advanced filtering is not enabled for this account","Account requires the approaching-rate-limit-notifications feature"]}}}},"404":{"description":"- Configured integration or saved search could not be found. Check the supplied id.\n","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Configured integration not found","Saved Search not found"]}}}}}}},"/configured_integrations/{id}/test":{"post":{"tags":["Integrations"],"summary":"Test a Configured Integration","description":"Test a configured integration. For issue-tracker integrations this will create a test issue. For team-notification, data-forwarding and on-call notifications it will send a test alert/message. To test an integration without saving the configuration first, use /integrations/test.","operationId":"configuredIntegrationTest","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SampleIntegrationConfigurationRequest"}}},"required":true},"responses":{"204":{"description":"The integration was successfully tested."},"400":{"description":"The integration was not successfully tested. Check the errors supplied in the response.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Invalid password"]}}}}},"403":{"$ref":"#/components/responses/insufficient_project_role"}}}},"/projects/{project_id}/configured_integrations":{"post":{"tags":["Integrations"],"summary":"Configure an Integration","description":"Configure a new integration for a project. Only one issue-tracker-type integration is allowed on a project, unless your plan supports multiple issue trackers.","operationId":"projectConfiguredIntegrations","parameters":[{"name":"project_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfiguredIntegrationCreateRequest"}}},"required":true},"responses":{"200":{"description":"Integration configured successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfiguredIntegration"}}}},"400":{"description":"The integration could not be created. Check the errors supplied in the response.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Invalid password"]}}}}},"403":{"$ref":"#/components/responses/insufficient_project_role"}}}},"/projects/{project_id}/configured_integration_summaries":{"get":{"tags":["Integrations"],"summary":"List Summaries of the Configured Integrations for a Project","description":"List summaries of all the configured integrations on a project. Summaries are lightweight descriptions of a configured integration. For a full description, use the Get a Configured Integration endpoint.","operationId":"projectConfiguredIntegrationSummaries","parameters":[{"name":"project_id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"per_page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"number"}},{"name":"page_token","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"number"}},{"name":"category","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"issue-tracker"}],"responses":{"200":{"description":"List of configured integration summaries.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ConfiguredIntegrationSummary"}}}}},"404":{"description":"The project could not be found. Check the supplied project_id.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Project not found"]}}}}}}}},"/organizations/{organization_id}/integration_connections":{"get":{"tags":["Integrations"],"summary":"List the Integration Connections for an Organization","operationId":"listOrganizationIntegrationConnections","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization the integration connections belongs to.","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"type","in":"query","description":"The external software to communicate with. Currently this can only be 'jira' or nil.","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["jira"]}}],"responses":{"200":{"description":"A list of integration connections","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IntegrationConnectionManualApiView"}}}}},"404":{"description":"The organization could not be found.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Organization not found"]}}}}}}}},"/organizations":{"post":{"tags":["Organizations"],"summary":"Create an Organization","description":"Creates a new Bugsnag organization and adds the current user to it as an admin. Requires user authentication as the initial user of the organization.","operationId":"createOrganization","requestBody":{"content":{"application/json":{"schema":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Name of the company or organization to create","example":"Acme Co."}}}}},"required":true},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationApiView"}}}},"400":{"description":"The request was bad. Check the errors supplied in the response. Examples > - Heroku users and saml-authenticated users cannot create an organization","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Cannot create upstream billing organization","SAML users cannot create organization"]}}}}}}}},"/organizations/{id}":{"get":{"tags":["Organizations"],"summary":"View an Organization","operationId":"getOrganizationById","parameters":[{"name":"id","in":"path","description":"the ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationApiView"}}}},"404":{"$ref":"#/components/responses/organization_not_found"}}},"delete":{"tags":["Organizations"],"summary":"Delete an Organization","operationId":"deleteOrganization","parameters":[{"name":"id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"responses":{"204":{"description":"Organization deleted"},"400":{"description":"This Organization cannot be deleted via the API. (e.g. Heroku organizations)","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["cannot delete upstream billing organization"]}}}}},"403":{"$ref":"#/components/responses/insufficient_organization_role"},"404":{"$ref":"#/components/responses/organization_not_found"}}},"patch":{"tags":["Organizations"],"summary":"Update an Organization","operationId":"updateOrganizationById","parameters":[{"name":"id","in":"path","description":"the ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationApiView"}}}},"400":{"description":"- This Organization type cannot be updated via the API. Example: Heroku organizations.\n- Organization does not have access to a required feature for the parameter being updated.\n","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["cannot update upstream billing organization","Default project event cap unavailable on plan"]}}}}},"403":{"$ref":"#/components/responses/insufficient_organization_role"},"404":{"$ref":"#/components/responses/organization_not_found"}}}},"/organizations/{id}/api_key":{"delete":{"tags":["Organizations"],"summary":"Regenerate an Organization's API key","operationId":"revokeOrganizationApiKey","parameters":[{"name":"id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationApiView"}}}},"403":{"$ref":"#/components/responses/insufficient_organization_role"},"404":{"$ref":"#/components/responses/organization_not_found"}}}},"/organizations/{id}/auth_token":{"delete":{"tags":["Organizations"],"summary":"Regenerate an Organization's auth token","description":"Deprecated. Use user-level authentication tokens instead.\\nGenerate a new data access API auth token for the organization. This token allows you to read data from and write data to Bugsnag relating to your Organization, Projects, Errors, etc. After regenerating the auth token, the prior data access API auth token will no longer be supported. Note that this key is different from the project-level notifier API key that you use to identify a project to Bugsnag when you report errors.","operationId":"revokeOrganizationAuthToken","parameters":[{"name":"id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationApiView"}}}},"403":{"$ref":"#/components/responses/insufficient_organization_role"},"404":{"$ref":"#/components/responses/organization_not_found"}}}},"/organizations/{organization_id}/collaborators":{"get":{"tags":["Organizations"],"summary":"List all collaborators that are members of your organization","operationId":"listOrganizationCollaborators","parameters":[{"name":"organization_id","in":"path","description":"the ID of your organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"per_page","in":"query","description":"Number of results per page","required":false,"style":"form","explode":true,"schema":{"type":"number","default":30}},{"name":"q","in":"query","description":"Search collaborators with names or emails matching parameter","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of collaborators","headers":{"Link":{"style":"simple","explode":false,"schema":{"type":"string","example":"<https://api.bugsnag.com/organizations/515fb9337c1074f6fd000001/collaborators?offset=517c41f07c1074aee9000002>; rel=\"next\""}},"X-Total-Count":{"style":"simple","explode":false,"schema":{"type":"integer","example":34}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CollaboratorApiView"}}}}},"403":{"description":"You do not have permission to view this data. You must be an admin of the Organization.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Organization Administrator role required"]}}}}},"404":{"description":"An organization with the ID you provided could not be found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Organization not found"]}}}}}}},"post":{"tags":["Organizations"],"summary":"Invite a collaborator to your organization","operationId":"inviteOrganizationCollaborator","parameters":[{"name":"organization_id","in":"path","description":"the ID of your organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["email"],"type":"object","properties":{"email":{"type":"string","description":"The email of the person to invite"},"name":{"type":"string","description":"A name for the invited user"},"password":{"type":"string","description":"A password for the invited user"},"project_ids":{"type":"array","description":"The ids of projects in the current organization that the invited user should have access to.","items":{"type":"string"}},"project_roles":{"type":"object","additionalProperties":{"type":"string"},"description":"The IDs of the projects to which the user should have access, and the roles they should have, either 'project_owner' or 'project_member'."},"admin":{"type":"boolean","description":"Whether to give admin permissions to the invited user."}}}}},"required":true},"responses":{"200":{"description":"Collaborator invited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollaboratorApiView"}}}},"400":{"description":"The request was invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Password parameter is not permitted if only SAML logins are allowed"]}}}}},"403":{"description":"- You have reached your plan's collaborator limit\n- You are not an admin on the Organization\n- Project member roles are not enabled for the current plan\n- project_roles cannot be specified at the same time as project_ids\n","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["You have reached your plan's collaborator limit of 30","Organization Administrator role required","Project member roles are not enabled for the current plan","project_roles cannot be specified at the same time as project_ids"]}}}}},"404":{"description":"An organization with the ID you provided could not be found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Organization not found"]}}}}}}}},"/organizations/{organization_id}/collaborators/{id}":{"get":{"tags":["Organizations"],"summary":"Show a Collaborator on an Organization","operationId":"getOrganizationCollaborator","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"id","in":"path","description":"the ID of the collaborator","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Collaborator details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollaboratorApiView"}}}},"403":{"description":"You do not have permission to view this data. You must be an admin of the Organization.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Organization Administrator role required"]}}}}},"404":{"description":"An organization with the ID you provided or a user with the ID you provided could not be found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Organization not found","User not found"]}}}}}}},"delete":{"tags":["Organizations"],"summary":"Delete a Collaborator","operationId":"deleteOrganizationCollaborator","parameters":[{"name":"organization_id","in":"path","description":"the ID of your organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"id","in":"path","description":"the ID of the collaborator to update","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Collaborator deleted"},"400":{"description":"The request was invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Cannot remove last admin"]}}}}},"403":{"description":"You do not have permission to update collaborators.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Organization Administrator role required"]}}}}},"404":{"description":"An organization with the ID you provided or a user with the ID you provided could not be found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Organization not found","User not found"]}}}}}}},"patch":{"tags":["Organizations"],"summary":"Update a Collaborator's permissions","operationId":"updateOrganizationCollaborator","parameters":[{"name":"organization_id","in":"path","description":"the ID of your organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"id","in":"path","description":"the ID of the collaborator to update","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"project_ids":{"type":"array","description":"The ids of projects in the current organization that the invited user should have access to.","items":{"type":"string"}},"project_roles":{"type":"object","additionalProperties":{"type":"string"},"description":"The IDs of the projects to which the user should have access, and the roles they should have, either 'project_owner' or 'project_member'."},"admin":{"type":"boolean","description":"Whether to give admin permissions to the user."}}}}},"required":true},"responses":{"200":{"description":"Collaborator updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollaboratorApiView"}}}},"400":{"description":"The request was invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Cannot update upstream billing collaborator"]}}}}},"403":{"description":"You do not have permission to update collaborators or invalid project_roles/project_ids.","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Organization Administrator role required"]}},{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Project member roles are not enabled for the current plan"]}},{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["project_roles cannot be specified at the same time as project_ids"]}}]}}}},"404":{"description":"An organization with the ID you provided or a user with the ID you provided could not be found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Organization not found","User not found"]}}}}}}}},"/organizations/{organization_id}/collaborators/bulk_invite":{"post":{"tags":["Organizations"],"summary":"Bulk invite collaborators to your organization","operationId":"bulkInviteOrganizationCollaborators","parameters":[{"name":"organization_id","in":"path","description":"the ID of your organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["emails"],"type":"object","properties":{"emails":{"type":"array","description":"A list of emails to invite","items":{"type":"string"}},"project_ids":{"type":"array","description":"The ids of projects in the current organization that the invited user should have access to. Leave blank if the admin field is set to true. Admins have access to all projects. Only one of project_roles and project_ids may be supplied.","items":{"type":"string"}},"project_roles":{"type":"object","additionalProperties":{"type":"string"},"description":"The IDs of the projects to which the user should have access, and the roles they should have, either 'project_owner' or 'project_member'. Leave blank if the admin field is set to true. Admins have access to all projects. Only one of project_roles and project_ids may be supplied. This field may only be supplied if the enterprise-roles feature is enabled for the account."},"admin":{"type":"boolean","description":"Whether to give admin permissions to the invited user(s)."}}}}},"required":true},"responses":{"200":{"description":"Collaborators invited","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CollaboratorApiView"}}}}},"400":{"description":"The request was invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Cannot add collaborators to SAML organization","Bulk operation does not support 'name' parameter","Too many invitations, please try again later."]}}}}},"403":{"description":"- You do not have permission to invite additional collaborators. It may be\nbecause your plan is at its seat limit and you need to upgrade your plan to\nadd more collaborators, or you are not an admin on the Organization.\n- The `project_roles` parameter was supplied but your organization's plan does not have this feature.\n- Both the `project_roles` and `project_ids` parameters were supplied.\n","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["You have reached your plan's collaborator limit of 30","Organization Administrator role required","Project member roles are not enabled for the current plan","project_roles cannot be specified at the same time as project_ids"]}}}},"404":{"description":"An organization with the ID you provided could not be found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Organization not found"]}}}}}}}},"/projects/{project_id}/collaborators":{"get":{"tags":["Organizations"],"summary":"List Collaborators on a Project","description":"List all collaborators that have access to a project.","operationId":"listProjectCollaborators","parameters":[{"name":"project_id","in":"path","description":"the ID of the project","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"per_page","in":"query","description":"Number of results per page","required":false,"style":"form","explode":true,"schema":{"type":"number","default":30}}],"responses":{"200":{"description":"A list of collaborators that have access to a project.","headers":{"Link":{"style":"simple","explode":false,"schema":{"type":"string","example":"<https://api.bugsnag.com/projects/515fb9337c1074f6fd000001/collaborators?offset=517c41f07c1074aee9000002>; rel=\"next\""}},"X-Total-Count":{"style":"simple","explode":false,"schema":{"type":"integer","example":34}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CollaboratorApiView"}}}}},"404":{"description":"A project with the ID you provided could not be found, or you do not have access to the project.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Project not found"]}}}}}}}},"/projects/{project_id}/collaborators/{id}":{"get":{"tags":["Organizations"],"summary":"Show a collaborator in a project.","description":"Show a collaborator in a project. Requires requesting user to have access to the given project.","operationId":"getProjectCollaborator","parameters":[{"name":"project_id","in":"path","description":"the ID of the project","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"id","in":"path","description":"the ID of the collaborator","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Collaborator details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollaboratorApiView"}}}},"404":{"description":"Not Found- - A project with the ID you provided could not be found, or you do not have access. - A collaborator with the ID you provided could not be found, or they do not have access to the project.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Project not found","User not found"]}}}}}}}},"/organizations/{organization_id}/collaborators/project_access_counts":{"get":{"tags":["Organizations"],"summary":"View the project count of a collaborator","description":"View the project count of a collaborator","operationId":"getOrganizationCollaboratorProjectAccessCounts","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"collaborator_ids","in":"query","description":"IDs of collaborators to view the project count of","required":true,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"A list of project access counts for the collaborators.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProjectAccessCountsApiView"}}}}},"403":{"description":"The collaborator ids must be in an array format","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Collaborator_ids must be an array"]}}}}},"404":{"description":"Not Found - - You do not have permission to view this data. You must be an admin of the organization. - A collaborator was not found.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Organization Administrator role required","Collaborator not found"]}}}}}}}},"/organizations/{organization_id}/collaborators/{collaborator_id}/projects":{"get":{"tags":["Organizations"],"summary":"View Projects a Collaborator has access to","description":"View Projects a Collaborator has access to","operationId":"getOrganizationCollaboratorProjects","parameters":[{"name":"organization_id","in":"path","description":"the ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"collaborator_id","in":"path","description":"the ID of the user","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Search projects with names matching parameter","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"sort","in":"query","description":"Which field to sort the results by","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"created_at","enum":["created_at"]}},{"name":"direction","in":"query","description":"Which direction to sort the results by","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"desc","enum":["asc","desc"]}},{"name":"per_page","in":"query","description":"How many results to return per page","required":false,"style":"form","explode":true,"schema":{"type":"number","default":30}}],"responses":{"200":{"description":"A list of projects the collaborator has access to.","headers":{"Link":{"style":"simple","explode":false,"schema":{"type":"string","example":"<https://api.bugsnag.com/organizations/515fb9337c1074f6fd000001/collaborators/515fb9337c74f6fd00000100/projects?offset=517c41f07c1074aee9000002>; rel=\"next\""}},"X-Total-Count":{"style":"simple","explode":false,"schema":{"type":"integer","example":123}}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProjectApiView"}}}}},"403":{"description":"You do not have permission to view a collaborator's project access. You need to be an admin on the Organization.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Organization Administrator role required"]}}}}},"404":{"description":"An organization with the ID you provided or a user with the ID you provided could not be found.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Organization not found","User not found"]}}}}}}}},"/organizations/{organization_id}/collaborators/{collaborator_id}/project_accesses":{"get":{"tags":["Organizations"],"summary":"List project accesses for a collaborator","description":"List all projects a collaborator has access to within an organization.","operationId":"listOrganizationCollaboratorProjectAccesses","parameters":[{"name":"organization_id","in":"path","description":"The ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"collaborator_id","in":"path","description":"The ID of the collaborator","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"per_page","in":"query","description":"Number of results per page","required":false,"style":"form","explode":true,"schema":{"type":"number","default":30}}],"responses":{"200":{"description":"A list of project accesses for the collaborator","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProjectAccessApiView"}}}}},"404":{"description":"An organization or collaborator with the ID you provided could not be found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Organization not found","User not found"]}}}}}}}},"/organizations/{organization_id}/collaborators/{collaborator_id}/project_accesses/{project_id}":{"get":{"tags":["Organizations"],"summary":"Show a Collaborator's Access Details for a Project","description":"Return the details of a collaborator's access to a project.","operationId":"getOrganizationCollaboratorProjectAccessById","parameters":[{"name":"organization_id","in":"path","description":"The ID of the organization.","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"collaborator_id","in":"path","description":"The ID of the collaborator.","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"project_id","in":"path","description":"The ID of the project.","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Details of the collaborator's access to the project.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollaboratorProjectAccessApiView"}}}},"404":{"description":"An organization, collaborator or project with the ID you provided could not be found.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Project not found"]}}}}}}}},"/organizations/{organization_id}/collaborators/{id}/team_memberships":{"post":{"tags":["Organizations"],"summary":"Add a collaborator to a group of Teams","description":"Add a collaborator to a list of teams, or all a collaborator to all the teams in this organization.","operationId":"addOrganizationCollaboratorTeamMemberships","parameters":[{"name":"organization_id","in":"path","description":"The ID of the organization.","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"id","in":"path","description":"The ID of the collaborator.","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTeamMembershipRequest"}}},"required":true},"responses":{"200":{"description":"Collaborator added to teams","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollaboratorApiView"}}}},"403":{"description":"Forbidden - - You must provide a `team_ids` parameter when `add_all_teams` is false. - Your `team_ids` parameter must be in an array format. - You do not have permission to add a collaborator to teams. You must be an admin on the Organization.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Team_ids must be supplied when add_all_teams is set to false","Team_ids must be an array","User should be organization admin"]}}}}},"404":{"description":"Not Found - - The collaborator you're accessing is not part of this organization - A team ID you provided could not be found.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}},"example":{"errors":["Collaborator not found","Team not found"]}}}}}}},"delete":{"tags":["Organizations"],"summary":"Remove a Collaborator from a group of Teams","description":"Remove a collaborator from a group of teams.\nThe request body for this operation should be documented here: The request body would have matched the TeamIDRequest schema, but DELETE operations cannot have a request body in OpenAPI3. Example:\n{\n  \"team_ids\": [\"team_id_1\", \"team_id_2\"]\n}\n","operationId":"deleteOrganizationCollaboratorTeamMemberships","parameters":[{"name":"organization_id","in":"path","description":"The ID of the organization.","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"id","in":"path","description":"The ID of the collaborator.","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Collaborator removed from teams","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollaboratorApiView"}}}},"403":{"$ref":"#/components/responses/insufficient_organization_role"},"404":{"description":"Not Found - - The collaborator could not be found, or is not part of the organization - A team ID you provided could not be found.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Collaborator not found","Team not found"]}}}}}}},"/organizations/{organization_id}/teams":{"get":{"tags":["Organizations"],"summary":"List Teams from a query","operationId":"listOrganizationTeams","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"q","in":"query","description":"A partial or full team name to filter the results by.","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"per_page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"number","default":30},"example":10},{"name":"offset","in":"query","description":"Token to retrieve next page of results","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TeamApiView"}}}}},"403":{"description":"You do not have permission to view this data. You must be an admin of the Organization.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization Administrator role required"]}}}}}},"post":{"tags":["Organizations"],"summary":"Create a Team","operationId":"createOrganizationTeam","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamCreateRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamApiView"}}}},"400":{"description":"The team name is not unique for the organization or the name is too long.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Team name is more than 200 characters","A team called Team co already exists for this organization"]}}}},"403":{"description":"You do not have permission to view this data. You must be an admin of the organization.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization Administrator role required"]}}}},"404":{"description":"A team with the ID you provided could not be found.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Team not found"]}}}}}}},"/organizations/{organization_id}/teams/{id}":{"get":{"tags":["Organizations"],"summary":"Show the details of a team","operationId":"getOrganizationTeam","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"id","in":"path","description":"the ID of the team","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamApiView"}}}},"403":{"description":"You do not have permission to view this data. You must be an admin of the organization.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization Administrator role required"]}}}},"404":{"description":"A team with the ID you provided could not be found.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Team not found"]}}}}}},"delete":{"tags":["Organizations"],"summary":"Delete a team","operationId":"deleteOrganizationTeam","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"id","in":"path","description":"the ID of the team to be deleted","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"responses":{"200":{"description":"OK"},"403":{"description":"You do not have permission to view this data. You must be an admin of the organization.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization Administrator role required"]}}}},"404":{"description":"An organization with the ID you've provided or a team with the ID you've provided could not be found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization not found","Team not found"]}}}}}},"patch":{"tags":["Organizations"],"summary":"Update a team name","operationId":"updateOrganizationTeam","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"id","in":"path","description":"the ID of the team to be deleted","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamUpdateRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamApiView"}}}},"400":{"description":"There is an issue with the new name. It may be too long or not unique.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Team name is blank","Team name is more than 200 characters","A team called Team co already exists for this organization"]}}}},"403":{"description":"You do not have permission to view this data. You must be an admin of the organization.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization Administrator role required"]}}}},"404":{"description":"A team with the ID you provided could not be found.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Team not found"]}}}}}}},"/organizations/{organization_id}/teams/{id}/suggested_collaborators":{"get":{"tags":["Organizations"],"summary":"List Suggested Collaborators to Add to a Team","operationId":"listOrganizationTeamSuggestedCollaborators","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"id","in":"path","description":"the ID of the team","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"q","in":"query","description":"A partial or full user name or email to filter the results by.","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"include_has_access","in":"query","description":"Request all collaborators in the organization, including those that are not members of the team. By default only collaborators who are not members of the team will be returned.","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}},{"name":"per_page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"number","default":30},"example":10},{"name":"offset","in":"query","description":"token to retrieve next page of results","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SuggestedTeamCollaboratorApiView"}}}}},"404":{"description":"An organization with the ID you provided or a team with the ID you provided could not be found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization not found","Team not found"]}}}}}}},"/organizations/{organization_id}/collaborators/{id}/teams":{"get":{"tags":["Organizations"],"summary":"List Teams for a Collaborator","operationId":"listOrganizationCollaboratorTeams","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"id","in":"path","description":"the ID of the collaborator","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"q","in":"query","description":"A partial or full team name to filter the results by","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"per_page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"number","default":30},"example":10},{"name":"offset","in":"query","description":"token to retrieve next page of results","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TeamApiView"}}}}},"404":{"description":"An organization with the ID you provided or a user with the ID you provided could not be found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization not found","User not found"]}}}}}}},"/organizations/{organization_id}/collaborators/{id}/suggested_teams":{"get":{"tags":["Organizations"],"summary":"List Suggested Teams for a Collaborator","operationId":"listOrganizationCollaboratorSuggestedTeams","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"id","in":"path","description":"the ID of the collaborator","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"q","in":"query","description":"A partial or full team name to filter the results by","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"include_is_member","in":"query","description":"Request all teams in the organization, including those that the collaborator is already on. By default only teams the collaborator is not a member of will be returned","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}},{"name":"per_page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"number","default":30},"example":10},{"name":"offset","in":"query","description":"token to retrieve next page of results","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TeamSuggestionApiView"}}}}},"404":{"description":"An organization with the ID you provided or a user with the ID you provided could not be found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization not found","User not found"]}}}}}}},"/organizations/{organization_id}/teams/{id}/collaborators":{"get":{"tags":["Organizations"],"summary":"List the Collaborators in a Team","operationId":"listOrganizationTeamCollaborators","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"id","in":"path","description":"the ID of the team","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"q","in":"query","description":"A partial or full user name or email to filter the results by.","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"per_page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"number","default":30},"example":10},{"name":"offset","in":"query","description":"token to retrieve next page of results","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CollaboratorApiView"}}}}},"404":{"description":"An organization with the ID you provided or a team with the ID you provided could not be found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization not found","Team not found"]}}}}}}},"/organizations/{organization_id}/teams/{id}/team_memberships":{"post":{"tags":["Organizations"],"summary":"Add Collaborators to a Team","operationId":"addOrganizationTeamMemberships","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"id","in":"path","description":"the ID of the team","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamMembershipsAddUsersRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamApiView"}}}},"403":{"description":"You do not have permission to add collaborators to a team. You must be an admin of the organization.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization Administrator role required"]}}}},"404":{"description":"An organization, team or user with the ID you provided could not be found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization not found","Team not found","User not found"]}}}}}},"delete":{"tags":["Organizations"],"summary":"Remove Collaborators from a Team","description":"Request body requires a CollaboratorsRequest object with the following properties:\n- user_ids: array of user IDs to remove from the team\n","operationId":"deleteOrganizationTeamMemberships","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"id","in":"path","description":"the ID of the team","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamApiView"}}}},"403":{"description":"You do not have permission to view this data. You must be an admin of the organization.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization Administrator role required"]}}}},"404":{"description":"An organization, team or user with the ID you provided could not be found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization not found","Team not found","User not found"]}}}}}}},"/organizations/{organization_id}/teams/{id}/project_accesses":{"get":{"tags":["Organizations"],"summary":"List Project Access for a Team","operationId":"listOrganizationTeamProjectAccesses","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"id","in":"path","description":"the ID of the team","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"q","in":"query","description":"A partial or full project name to filter the results by.","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"per_page","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"number","default":30},"example":10},{"name":"offset","in":"query","description":"A token for pagination","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TeamProjectAccessApiView"}}}}},"403":{"description":"You do not have permission to view this data. You must be an admin of the Organization.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization Administrator role required"]}}}},"404":{"description":"An organization with the ID you provided or a team with the ID you provided could not be found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization not found","Team not found"]}}}}}},"delete":{"tags":["Organizations"],"summary":"Remove Project Access from a Team","description":"Request body requires a TeamProjectAccessesDelete object with the following properties:\n- project_ids: array of project IDs to remove access from\n","operationId":"deleteOrganizationTeamProjectAccesses","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"id","in":"path","description":"the ID of the team","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TeamApiView"}}}}},"403":{"description":"You must be an admin of the Organization or a project owner.","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Insufficient Project Role for performing requested action"]}}}},"404":{"description":"An organization, team, or project with the ID you provided could not be found","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"string"}}}},"example":{"errors":["Organization not found","Team not found","Project not found"]}}}}}},"patch":{"tags":["Organizations"],"summary":"Add Project Access to a Team","operationId":"updateOrganizationTeamProjectAccesses","parameters":[{"name":"organization_id","in":"path","description":"ID of the organization","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"},{"name":"id","in":"path","description":"the ID of the team","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"515fb9337c1074f6fd000001"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamProjectAccessesUpdate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schem
[...]
